{% extends 'base.html.twig' %}
{% block title %}Les délices d'anaïs{% endblock %}
{% block body %}

    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <!-- Post preview-->
                {% for r in recipe %}
                    <div class="post-preview">
                        <a href="{{ path('cooking_detail',{'id': r.id}) }}">
                        <img src="{{ asset('uploads/'~r.image.name) }}">

                            <h2 class="post-title">{{ r.Name }}</h2>
                            <h3 class="post-subtitle">{{ r.machine }}</h3>
                        </a>
                        <p class="post-meta">
                            Publié le: {{ r.createdDate | date("d/m/y", "Europe/Paris") }} dans la
                            catégorie {{ r.category }}
                        </p>
                    </div>
                    <!-- Divider-->

                    <hr class="my-4"/>
                {% endfor %}
                {{ knp_pagination_render(recipe) }}
                <!-- Pager-->

            </div>
        </div>
    </div>
{% endblock %}
