{% extends 'base.html.twig' %}

{% block title %}Chanceux?{% endblock %}

{% block body %}


    <article class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <img src="{{ asset('uploads/'~recipe.image.name) }}" style="max-width:640px ">
                    <h2 class="post-title">{{ recipe.Name }}</h2>
                    <small>{{ recipe.machine }}</small>
                    {% for i in recipe.ingredients %}
                        <p> {{ i.quantity }} {{ i.sort }}, {{ i.names }}</p>
                    {% endfor %}
                    <hr class="my-4">
                    {% set i = 1 %}
                    {% for d in recipe.directions %}
                        <strong>{{ i }}</strong><p>{{ d.toDO }}</p>
                        {% set i = i+ 1 %}
                    {% endfor %}
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="{{ path('cooking')}}">
                            retour</a></div>
                </div>
            </div>
        </div>
    </article>
{% endblock %}
